<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definiție bean pentru MenuItem -->
    <bean id="menuItemXmlBean" class="com.example.lab1.MenuItem">
        <property name="name" value="Spaghetti Carbonara"/>
        <property name="price" value="18.5"/>
    </bean>

    <!-- Definiție bean pentru Customer, cu injecție de Order (prin proprietate) -->
    <bean id="customerXmlBean" class="com.example.lab1.Customer">
        <property name="id" value="2"/>
        <property name="name" value="Maria Ionescu"/>
    </bean>

</beans>
